# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
**/__pycache__/
*.pyc

# База данных (если используешь дефолтную SQLite)
*.sqlite3

# Настройки редакторов
.vscode/
.idea/

# Файлы окружения и секреты
.env
staticfiles/